@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
    height: 100%;
}

body {
    background-color: #00264C;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
    text-decoration: underline;
}

h2{
    font-size: 25px;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 400;
    
}

#timer{
    font-size: 70px;
    font-weight: 700;
    margin: 2.5rem;

}

#logo{
    margin-bottom: 40px;
}

button{
    font-size: 20px;
    border: none; 
    background-color: white;
    color: #00264C;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
}

button:hover{
    color: white; 
    padding: 13px 30px;
    border: 2px solid white;
    background-color: #00264C;
}

#group {
    font-size: 27px;
    margin-bottom: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}



@media only screen and (max-width: 750px) {
    #timer{
        font-size: 55px;
    }
    footer{
        font-size: 10px;
    }
    button{
        font-size: 15px;
    }
}

